* {
    margin: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
  
  body {
    background-color: #f5f5f5;
    min-height: 100vh;
  }
  
  /* .body_container {
    display: flex;
    flex-direction: column;
  } */
  
  .topnav {
    display: flex;
    width: 100vw;
    height: 9vh;
    background-color: #fff;
    margin-bottom: 2%;
    border: 1px solid #dbdbdb;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
  }
  
  .logo {
    height: 9%;
    /* margin-top: -.5%; */
    margin-left: -27%;
    position: fixed;
  }
  
  .search {
    /* margin-right: 11%;
    margin-left: 10%; */
    position: fixed;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #search_icon {
    color: #8e8e8e;
    position: absolute;
    width: 10%;
    font-size: 11px;
    top: 16%;
    left: 26%;
  }
  
  #search {
    padding-top: 3px;
    padding-bottom: 8px;
    display: flex;
    text-align: center;
    background-color: #fafafa;
    border: none;
    /* border: 1px solid #dbdbdb; */
    width: 145%;
  }
  
  .icons {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    align-items: center;
  }
  
  .home {
    display: flex;
    align-items: center;
  }
  
  #home {
    height: 29px;
    position: fixed;
  }
  
  .dms {
    display: flex;
    align-items: center;
  }
  
  #dms {
    height: 29px;
    margin-left: 1.5%;
    position: fixed;
  }
  
  .follow {
    display: flex;
    align-items: center;
  }
  
  #follow {
    height: 29px;
    margin-left: 3%;
    position: fixed;
  }
  
  .notifications {
    display: flex;
    align-items: center;
  }
  
  #notifications {
    height: 29px;
    margin-left: 4.5%;
    position: fixed;
  }
  
  #notification {
    /* display: none; */
    height: 29px;
    margin-left: 4.5%;
    position: fixed;
  }

  #dropdown_content {
    display: none;
    background-color: #fff;
    width: 32%;
    height: 34%;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    top: 8%;
    right: 7%;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    position: fixed;
    overflow-y: scroll;
    flex-direction: column;
  }

  .dropdown {
    font-size: 14px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 1%;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  #profile {
    height: 29px;
    margin-left: 6%;
    position: fixed;
    color: #dbdbdb;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }

  .dm_container {
    display: flex;
    background-color: #fff;
    width: 71%;
    height: 85%;
    position: fixed;
    top: 12%;
    border: 1px solid #dbdbdb;
    border-radius: 6px;
    flex-direction: row;
  }

  .left {
    width: 29%;
    height: 85%;
    position: fixed;
    border-right: 1px solid #dbdbdb;
  }

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    border-bottom: 1px solid #dbdbdb;
  }

  .username {
    font-size: 16px;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
  }
  
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    width: 42%;
    height: 85%;
    left: 43.5%;
  }

  #dm_icon {
    height: 92px;
    border: 2px solid black;
    border-radius: 50%;
    padding: 1%;
    position: fixed;
    top: 37%;
  }

  .right_heading {
    text-transform: capitalize;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    margin-top: 4%;
  }

.subtitle {
  font-size: 16px;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 500;
  color: #8e8e8e;
  margin-top: 2%;
}