* {
    margin: 0;
    box-sizing: border-box;
}
  
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
  
body {
    background-color: #f5f5f5;
    min-height: 100vh;
}
  
/* .body_container {
    display: flex;
    flex-direction: column;
} */
  
.topnav {
    display: flex;
    width: 100vw;
    height: 9vh;
    background-color: #fff;
    margin-bottom: 2%;
    border: 1px solid #dbdbdb;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
  
.logo {
    height: 9%;
    /* margin-top: -.5%; */
    margin-left: -27%;
    position: fixed;
}
  
.search {
    /* margin-right: 11%;
    margin-left: 10%; */
    position: fixed;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
#search_icon {
    color: #8e8e8e;
    position: absolute;
    width: 10%;
    font-size: 11px;
    top: 16%;
    left: 26%;
}
  
#search {
    padding-top: 3px;
    padding-bottom: 8px;
    display: flex;
    text-align: center;
    background-color: #fafafa;
    border: none;
    /* border: 1px solid #dbdbdb; */
    width: 145%;
}
  
.icons {
    display: flex;
    flex-direction: row;
    margin-left: 40%;
    align-items: center;
}
  
.home {
    display: flex;
    align-items: center;
}
  
#home {
    height: 29px;
    position: fixed;
    margin-left: .8%;
}
  
.explore {
    display: flex;
    align-items: center;
}
  
#explore {
    height: 29px;
    margin-left: 2.5%;
    position: fixed;
}
  
.follow {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#follow {
    height: 29px;
    margin-left: 8.5%;
    position: absolute;
    top: 16%;
}
  
.profile {
    display: flex;
    align-items: center;
}
  
#profile {
    height: 29px;
    margin-left: 6%;
    position: fixed;
    color: #dbdbdb;
}