* {
    margin: 0;
    padding: 0;
}

/* LOGIN */

/* Full-width input fields */
input[type="text"],
input[type="password"] {
    width: 74%;
    padding: 15px;
    margin: 5px 0 22px 29px;
    display: inline-block;
    border: solid 1px #e5e5e5;
}

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
.signinbtn {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  width: 86%;
  padding: 15px;
  margin: 5px 0 22px 27px;
  border: none;
  border-radius: 5px;
  border-width: 2px;
}

/* Float cancel and signup buttons and add an equal width */
.signinbtn {
  float: left;
  /* width: 50%; */
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Displaying image and heading in the center */
.container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Adding image to signin form */
.logo {
    margin-bottom: 6%;
    width: 94%;
}

/* The Modal (background) */
.modal {
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: -1.5% auto 15% auto; /* -1.5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 28%; /* Could be more or less, depending on screen size */
}

.clearfix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


/* REGISTER FORM */

/* Add a background color when the inputs get focus */
input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Extra styles for the cancel button */
.signupbtn {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  background-color: black;
  width: 86%;
  padding: 15px;
  margin: 5px 0 22px 27px;
  border: none;
  border-radius: 5px;
  border-width: 2px;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
  float: left;
  /* width: 50%; */
}

/* Add padding to container elements */
.signup_container {
  padding: 16px;
}

/* Displaying image and heading in the center */
.signup_container_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Adding image to signin form */
.logo {
    margin-bottom: 6%;
    width: 94%;
}

/* The Modal (background) */
.signup_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.6);
  padding-top: 50px;
}

/* Modal Content/Box */
.signup_modal-content {
  background-color: #fefefe;
  margin: -3.5% auto 5% auto; /* -3.5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 28%; /* Could be more or less, depending on screen size */
}

.signup_clearfix {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clear floats */
.signup_clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* LOGIN AND REGISTER PAGE */
@media screen and (max-width: 1024px) {
  input[type="text"], input[type="password"] {
    margin: 5px 0 22px 18px;
  }

  .signinbtn {
    margin: 5px 0 22px 0px;
  }

  .signupbtn {
    margin: 5px 0 22px 0px;
  }
}

@media screen and (max-width: 768px) {
  .modal-content {
    width: 43%;
  }

  .signup_modal-content {
    width: 43%;
  }
}

@media screen and (max-width: 425px) {
  .modal-content {
    width: 70%;
  }

  .signup_modal-content {
    width: 70%;
    margin: -12.5% auto 5% auto;
  }

  input[type="text"], input[type="password"] {
    margin: 5px 0 3px 18px;
  }

  
}

@media screen and (max-width: 320px) {
  .modal-content {
    width: 87%;
  }

  .signup_modal-content {
    width: 87%;
  }
}